/* .beneficios {
width: 600px;

}
.beneficios > h1 { 
width: 103px;
height: 30px;
left: 16px;
top: 764px;
border-radius: 20px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
color: #333333;
}

h3 {

width: 38px;
height: 16px;
left: 16px;
top: 191px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #333333;
}

section article > div{
    position: relative;
}

div a > img {
    position: absolute;
    width: 60px;
    height: 48px;
    left: 9px;
    top: 55px;
    border-radius: 10px;
  }

div  span > img {

width: 192px;
height: 104px;
left: 16px;
top: 846px;
margin-top: 20px;
border-radius: 10px;
}


.level {
    width: 100px;
} */

.benefict-container{
    box-sizing: border-box;
   
}

