.levelUp {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 225px;
}

.levelUp h4 {
    color: #999999;
}

.referaFriend {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
}

.icons {
    width: 24px;
}

.activeNotifications {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
}

.text {
    min-width: 200px;
}

.text h3 {
    font-weight: 700;
}

.todayRecomend {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.refreshImg {
    width: 35px;
    position: absolute;
    left: 290px;
}