.levelUp {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.levelUp h4 {
    color: #999999;
}

.referaFriend {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
}

.icons {
    width: 24px;
}

.activeNotifications {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
}
.text{
    min-width: 200px;
}