.barProgress{
display: flex ;
flex-flow: column;

}
.number1{
display: flex;
border-radius: 30px;
width: 18px;
background-color:#6200EE;
justify-content: center;
color: white;
}
.number2{
    display: flex;
    border-radius: 30px;
    width: 18px;
    background-color:#999999;
    justify-content: center;
    color: white;
    }

.progress-container {
    box-sizing: border-box;
}

.progress-container h4 {
    color: #999999;
}

.progress {
    height: 24px !important;
    border-radius: 20px !important;
}


.progress-bar0 {
    background-color: #9B55FF;

    border-radius: 20px;

}

.avance {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.progress2 {
    margin-left: 80%;

}