.bottomBar{
    background-color: #FBFBFB;
    height: 56px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #D8D8D8;
    z-index: 1000;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 7px;
    justify-content: space-around;
}
.iconImg{   
    height: 24px;
    object-fit: cover;
}
.bottomBar-box a{
    color: #999999;
    text-align: center;
    font-size: 14px;
}
.bottomIcons-box{
    text-decoration: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    
}
.bottomBar-box:last-child{
    color: red;    
}