.nav {
    background-color: #6200EE;
    height: 52px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    justify-content: space-between;
}

.nav-item .nav-link {
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}
.helpImg{
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-top: 5px;
}