.App {
  text-align: start;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #FBFBFB;
}

h1 {
  font-size: 96px;
  font-family: 'Nunito';
  letter-spacing: 20px;
  font-weight: 400;
  color: #333333;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  font-family: 'Nunito';
  letter-spacing: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 30px;
  color: #333333;
}

h4 {
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

p {
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
}

ul {
  margin-top: 0!important;
  margin-bottom: 0 !important;
}